<div class="container">
<<<<<<< HEAD
    <h1>Add Word</h1>
        <%= render "form" ,btn_msg:"Create Word"%>
=======
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
        <h1>Add Word</h1>
        <%= render "form" ,btn_msg:"Create Word"%>
        </div>
    </div>
>>>>>>> admin_word_choice_pages
</div>