<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h1>Settings</h1>
            <%= render "form" ,btn_msg:"Update User"%>
        </div>
    </div>
</div>