<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h1 class="text-center">Sign up</h1>
            <%= render "form",btn_msg:"Create User"%>
        </div>
    </div>
</div>