<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
        <h1>Update Category</h1>
        <%= render "form" ,btn_msg:"Update Category"%>
        </div>
    </div>
</div>