@import "bootstrap";
@import "font-awesome";
.main_container {
    background-image: url("office-1209640_1920");
    height: 720px;
    background-size: cover;
    position: relative;
}

.main_container:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.bg_inner {
    color: aliceblue;
    text-align: center;
    position: absolute;
    width: 100%;
    top:200px;
    right: 150px;
}

.alert{
  margin-bottom: 0px;
}

h1{
    text-align: center;
    padding-top:20px; 
}
